replicaCount: 1

image:
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent

securityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 2000
  seccompProfile:
    type: RuntimeDefault

containerSecurityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  privileged: false
  capabilities:
    drop:
      - ALL

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}

podAnnotations: {}
podLabels: {}
probes: {}
