# Default values for common.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

common:
  labels:
    app.kubernetes.io/managed-by: "helm"
    team: "default"
    environment: "dev"

resources: {}

securityContext:
  runAsUser: 1000
  runAsGroup: 3000
  fsGroup: 2000
